@font-face {
    font-family: 'ka';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/DejaVuSansCondensed.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    height: auto;
    width:100%;
}

body {
    font-family: 'Quicksand', Arial, Helvetica, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #FFF;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 14px;
    line-height: 1.7;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    transition: opacity 500ms ease;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a.link {
    color: #000000;
}

a.link:hover {
    color: #1693ad;
}

h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex_1 {
    flex: 1;
}

.flex_c {
    flex-direction: column;
}

.aic {
    align-items: center;
}

.afc {
    align-self: center;
}

.bold {
    font-weight: bold;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.jcse {
    justify-content: space-evenly;
}

.bc_lb {
    background-color: #1693ad;
}

.c_b {
    color: #03264e;
}

.c_title{
    color: #09c11a;
}

.bc_lg {
    background-color: #13e28a;
}

.bc_lb {
    background-color: #13e28a;
}

.mr_0_5r {
    margin-right: 0.5rem;
}
.ml_0_5r {
    margin-left: 0.5rem;
}

.mar_r{
    margin-right: 1rem;
}

.pad_t{
    padding-top: 1rem;
}

.pad_l{
    padding-left: 1rem;
}

#landing.active,
#explore.active {
    visibility: visible;
    display: flex;
}

.title {
    display: flex;
    align-items: center;
    font-weight: normal;
    color: #fff;
    background: rgba(45, 165, 137, 0.75);
    padding: 0.125rem 0.85rem;
    border-radius: 1rem;
    flex-wrap: wrap;
    margin: 0.25rem;
}

.button {
    font-size: 1rem;
    color: #FFF;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.btn_ctr .button{
    margin: 4rem 0.5rem;
}

.title a{
    display: flex;
}

.title a svg {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 0.5rem;
    fill: #fff;
    transition: fill 200ms ease;
    stroke-width: 2px;
}

.title a:hover {
    animation: none;
}

.title a:hover svg{
    fill: #27191f;
}

.download,
.download:visited,
.button {
    background-color: #f3980b;
}

.download:hover,
.button:hover {
    background-color: #639fbb;
}

section h3 {
    display: flex;
    font-weight: 100;
    font-size: 1.5rem;
    border-left: 0.5rem solid #03c9fe;
    color: #09c11a;
    padding-left: 0.5rem;
}

h3 span {
    margin-right: 0.5rem;
}

@keyframes bounce {
    0% {
        filter: drop-shadow(0 0 1px #00C9FF);
    }
    40% {
        filter: drop-shadow(0 0 1px #09c11a);
    }
    100% {
        filter: drop-shadow(0 0 1px #000);
    }
}

.bouncing {
    animation: bounce 1s ease infinite;
}

#landing .button span:last-child {
    margin-left: 0.5rem;
}

.square.large .poster {
    width: 10rem;
    height: 10rem;
    margin: 1rem 0 1rem 0;
}

.square.large a {
    font-size: 2.5rem;
}

.name,
.name:hover {
    color: #fff;
    font-size: 1.6rem;
}

.mobile {
    line-height: 0.75;
    color: #096c6f;
    font-size: 0.85rem;
    background: #fff;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    cursor: default;
}

.email {
    font-size: 1rem;
    color: #000;
}

.h_5rem {
    height: 5rem;
}

footer{
    z-index: 1;
}

.hide {
    display: none !important;
}

.bnicon {
    position: absolute;
    filter: drop-shadow(0px 0 0.1rem #000) brightness(0.5);
}

.square {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0.5rem;
    flex-shrink: 0;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
}

.zindex-1 {
    z-index: 1;
}
.gradient {
    background: linear-gradient(to right, #92FE9D, #00C9FF);
}

.poster {
    width: 10rem;
    height: 10rem;
    margin-bottom: 0.5rem;
    border-radius: 50%;
    box-sizing: border-box;
    background: url(ka.jpg) no-repeat;
    background-size: cover;
    border: 0.5rem solid #fff;
}

#lctr .square a {
    color: #003646;
}

#lctr .square a:hover {
    color: #FFF;
}

#rctr {
    position: relative;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#rctr>div:nth-child(2){
    padding-left: 80px;
    padding-right: 22rem;
    min-width: 20rem;
}

#rctr section {
    padding: 1rem 1rem 0 1rem;
}

#rctr section:last-child{
    padding: 1rem;
    min-width: 100%;
}

#rctr section content {
    display: flex;
    flex-direction: column;
}

.tag {
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
}
.tag span{
    margin: 0 0.5rem 0.5rem 0;
    border-radius: 1rem;
    background: #beeffd;
    padding: 0 0.5rem;
}

#experience > ul > li{
    border-left: 0 solid;
}

#experience .header{
    padding: 0 0.5rem;
    margin-bottom: 1.5rem;
    background: #c7f9cd;
    border-radius: 1rem;
}

section ul{
    padding-left: 0.5rem;
    list-style: none;
}

section li{
    list-style: none;
    border-left: 2px double #09c11a;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0;
}

li h4 {
    font-size: 1rem;
    align-items: center;
    display: flex;
    padding-right: 1rem;
}

#experience {
    min-width: 88%;
}

#contactme {
    padding: 1rem;
    background: #434444;
    flex-wrap: wrap;
}

#contactme a, #contactme a:hover{
    color: #fff;
}

#contactme a svg {
    fill: #fff;
}

#contactme a:hover svg{
    fill: #27191f;
}

#contactme h4{
    color: #9d9d9e;
    
}

#contactme .row{
    display: flex;
    flex-wrap: wrap;
}


#contactme form{
    padding-bottom: 1rem;
}

#contactme input{
    border: 0;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    flex: 1;
    background: none;
    background: #fff;
    outline: none;
    font-family: quicksand;
    margin-right: 1rem;
}

#status {
    width: 100%;
    margin: 0.5rem 1rem 0.5rem 0;
}

#status.success {
    background: #91f992;
    padding: 0.125;
}

#status.error {
    background: #91f992;
    padding: 0.125;
}

#contactme textarea:focus, #contactme input:focus{
    border: none;
}

#contactme button{
    margin-top: 0.5rem;
    width: 5rem;
    background: #000;
    border: 0;
    padding: 0.5rem;
    color: #fff;
    transition: all 200ms ease;
    border-radius: 2rem;
    cursor: pointer;
}

#contactme button:hover{
    background: #666;
}

#contactme li{
    border: 0;
}

#editor {
    margin-right: 1rem;
    background: #fff;
}

#editor .pell-actionbar{
    display: none;
}

#editor .pell-content{
    height: auto;
    max-height: 10rem;
    min-height: 4rem;
}

#skills h5 {
    color: #0281a5;
}

#skills {
    grid-column: 1/3;
}

#skills content ul{
    display: grid;
    grid-template-columns: auto auto auto;
}

#education {
    grid-column: 2/3;
    grid-row: 1;
}

#experience, #contactme {
    grid-column: 1/3;
}

footer {
    
    width: 100%;
    background: #fff;
}

footer a {
    color: #FFF;
    padding: 0.5rem;
}

#copyright {
    color: #9d9d9e;
    font-size: 0.8rem;
    text-align: center;
    background: #434444;
}

@media (max-width: 600px) {
    .scrolled .square img, .scrolled .poster{
        display: none;
    }
    #rctr {
        grid-template-columns: auto;
    }
    #education {
        grid-column: 1;
        grid-row: 2;
    }

    #skills content ul{
        grid-template-columns: auto;
    }
}

@media print{
    #contactme, .footer {
        display: none;
    }
    #skills content ul{
        grid-template-columns: auto auto auto;
    }
}
