@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');

:root {
    /* Colors */
    --bg-color: hsl(256,33,10);
    --dot-color: hsl(256,33,70);

    /* Dimensions*/
    --dot-size: 1px;
    --dot-space: 22px;
}


html,
body {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Quicksand', sans-serif;
    line-height: 2;
}

h1, h2, h3, h4, ul{margin: 0;}

a, a:visited {
    text-decoration: none;
    color: #000;
}

.cv {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: linear-gradient(45deg, #7700f5, #0072f5);
    border: none;
	color: #fff;
    font-size: 1rem;
}

.cv:visited { color: #fff;}

.color-blue {
    color: #0072f5;
}
.color-grey1 {
    color: #ccc;
}

.color-grey2 {
    color: #999;
}

.color-grey3 {
    color: #666;
}

.color-grey4 {
    color: #333;
}

.color-green1 { color: #07a5ad;}

.bold {font-weight: bold;}
.flex1 {flex: 1}
.flex {display: flex;}
.flex-col {flex-direction: column;}
.grid {display: grid;}
.aic {align-items: center;}
.padded { padding: 2vw 12vw; }
.gap1{gap: 1rem;}
.gap2{gap:2rem;}

nav {
    justify-content: space-between;
}

logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
logo .icon{
    border-radius: 50%;
    background: linear-gradient(45deg, #7700f5, #0072f5);
    padding: 0.5rem;
    display: flex;
	align-items: center;
    aspect-ratio: 1;
    color: #fff;
    justify-content: center;
}

logo .name {
    font-size: 1.25rem;
}

links {
    display: flex;
    gap: 2vw;
}

aboutme {
    display: grid;
    gap: 1rem;
    background-color: #65d1ff;
    background: radial-gradient(ellipse at 25% 75%, #10d2de 0%, #fff 62%, #fff 100%);
    border-bottom: 2px solid #10d2de;
}

.poster {
    -webkit-mask-image: radial-gradient(ellipse 140% 140% at 50% 20%, #000 40%, #0000 54%);
    mask-image: radial-gradient(ellipse 140% 140% at 50% 20%, #000 40%, #0000 54%);
    background-image: url(./ka.png);
    width: 28rem;
	height: 28rem;
	background-repeat: no-repeat;
}

summary {
    color: #000;
    font-size: 1.25rem;
    text-decoration: wavy;
}

name {
    font-size: 2rem;
    font-weight: bold;
}

description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #333;
    padding-bottom: 1rem;
}

.icon {
    background-size: contain;
    background-repeat: no-repeat;
    width: 2rem;
	height: 2rem;
    background-position: center;
}

.icon-cloud{ background-image: url("./cloud.svg"); }
.icon-code { background-image: url("./code.svg"); }
.icon-services { background-image: url("./services.svg"); }
.icon-ui { background-image: url("./ui.svg"); }
.icon-regulatory { background-image: url("./regulatory.svg"); }
.icon-adobe { background-image: url("./adobe.svg");}
.icon-bazaarvoice { background-image: url("./bazaarvoice.svg");}
.icon-cisco { background-image: url("./cisco.svg"); }
.icon-eros { background-image: url("./eros.svg"); }
.icon-github { background-image: url("./github.svg"); }
.icon-medium { background-image: url("./medium.svg");}
.icon-linkedin { background-image: url("./linkedin.svg");}
.icon-education { background-image: url("./education.svg"); }
.icon-collaboration { background-image: url("./collaboration.svg");}
.icon-contact { background-image: url("./contact.svg"); }
.icon-tools { background-image: url("./tools.svg"); }

cards {
    display: grid;
    gap: 2rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

card {
    border-radius: 0.5rem;
    min-height: 10rem;
    padding: 1rem;
    transition: box-shadow 400ms ease-in;
}

card:hover {
    box-shadow: 0 0 2rem #d0e5fc;
}

.section {
    border-bottom: 1px solid #dae0e6;
}

.section h3 {
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    position: relative;
    margin-right: auto;
}

.section h3:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ddd;
}

.section h3:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1.5rem;
    height: 2px;
    background-color: #0072f5;
}

footer {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px) {
    aboutme, nav {
        flex-direction: column;
    }
    nav {
        gap: 1rem;
    }
}
